.plases__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .plases__container {
    gap: calc(73px + (80 - 73) * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width: 768px) {
  .plases__container {
    gap: calc(50px + (73 - 50) * (100vw - 320px) / (768 - 320));
  }
}
@media screen and (max-width: 320px) {
  .plases__container {
    gap: 50px;
  }
}

