.footer__menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width : 768px) {
  .footer__menu {
   gap: calc(10px + (18 - 10) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 650px) {
  .footer__menu {
    display: grid;
    row-gap: 32px;
  }
}

