.place__link {
  margin: 0;
  color: #FFF;
  min-height: 22px;
  max-width: 456px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
  border-bottom: 2px solid #FFF;
}
