
.body {
  margin: 0;
  /*border: 1px solid rgb(0, 255, 21);*/
  max-width: 1280px;
  min-width: 320px;
}

.page {
  padding: 28px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 6875px;*/
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #FFF;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}
@media screen and (max-width : 320px) {
  .page {
    padding: 16px 0 0 0;
 }

}


.content {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  min-height: 429px;
  max-width: 690px;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 0;
  padding: 92px 442px 92px 148px;
}
@media screen and (max-width: 1280px) {
  .intro {
    /*padding: 92px 442px 92px 148px;*/
    padding-right: calc(286px + (442 - 286) * (100vw - 1024px) / (1280 - 1024));
    padding-left:  calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    /*padding: 92px 286px 92px 48px;*/
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    padding-right: calc(24px + (286 - 24) * (100vw - 1024px) / (1024 - 768));
    padding-bottom: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    padding-left:  calc(24px + (48 - 24) * (100vw - 1024px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    /*padding: 88px 24px 88px 24px;*/
    padding-top: calc(64px + (88 - 64) * (100vw - 768px) / (768 - 320));
    padding-right: calc(16px + (24 - 16) * (100vw - 1024px) / (768 - 320));
    padding-bottom: calc(64px + (88 - 64) * (100vw - 768px) / (768 - 320));
    padding-left:  calc(16px + (24 - 16) * (100vw - 1024px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px 16px;
  }
}


.intro__title {
  margin: 0 0 40px 0;
  color: #FFF;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  min-height: 58px;
  max-width: 690px;
  /*border: 1px solid red;*/

}

/*@media screen and (max-width: 1280px) {
  .intro__title {
    min-height: calc(44px + (200 - 88) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
}
}

@media screen and (max-width: 1024px) {
  .intro__title {
    min-height: calc(44px + (200 - 88) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    height: 58px;
    width: 690px;
  }
}*/

@media screen and (max-width : 768px) {
  .intro__title {
    font-size: calc(32px + (54 - 32) * (100vw - 320px) / (768 - 320));
    line-height: calc(35px + (58 - 35) * (100vw - 320px) / (768 - 320));
   /* min-height: calc(44px + (200 - 88) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    height: 58px;
    width: 720px;*/
  }
}

@media screen and (max-width : 320px) {
  .intro__title {
    height: 70px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
}
}

.intro__text {
  margin: 0 0 33px 0;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  min-height: 208px;
  max-width: 690px;
  /*border: 1px solid red;*/
}

.intro__list {
  margin: 0;
  color: #FFF;
  list-style-type: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding: 0;
  height: 90px;
  max-width: 690px;
  /*border: 1px solid red;*/
}














