
.body {
  margin: 0;
  padding: 0;
  background-color: #2A2C2F;
  }

.page {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  color: #FFF;
  box-sizing: border-box;
}

.content {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  min-height: 429px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 0;
  padding: 92px 442px 92px 148px;
  box-sizing: border-box;
  }
@media screen and (max-width: 1280px) {
  .intro {
    padding-right: calc(286px + (442 - 286) * (100vw - 1024px) / (1280 - 1024));
    padding-left: calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    padding-right: calc(24px + (286 - 24) * (100vw - 768px) / (1024 - 768));
    padding-bottom: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    padding-left: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320));
    padding-right: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
    padding-bottom: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320));
    padding-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px 16px;
  }
}

.intro__title {
  margin: 0 0 40px 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
  text-align: left;
  max-width: 690px;
  box-sizing: border-box;
}

@media screen and (max-width : 768px) {
  .intro__title {
    font-size: calc(32px + (54 - 32) * (100vw - 320px) / (768 - 320));
  }
}

  @media screen and (max-width : 320px) {
    .intro__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 109%;
  }
}

.intro__text {
  margin: 0 0 33px 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  text-align: left;
  min-height: 208px;
  max-width: 690px;
  /*border: 1px solid red;*/
}

.intro__list {
  margin: 0;
  padding: 0;
  color: #FFF;
  list-style-type: none;
  min-height: 90px;
  max-width: 690px;
  /*border: 1px solid red;*/
}

.intro__list-item {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.intro__list-large {
  font-weight: 700;
}

.photo-grid {
  margin: 0;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}


.photo-grid__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 16px;
  box-sizing: border-box;
  max-width: 1280px;
}

@media screen and (max-width: 1280px) {
  .photo-grid__items {
     gap: calc(14px + (16 - 14) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid__items {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: calc(16px + (14 - 16) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width : 768px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: calc(12px + (16 - 12) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 320px) {
  .photo-grid__items {
    grid-template-columns:  minmax(auto, 1fr);
    gap: 12px;
    min-width: 288px;
  }
}


.photo-grid__it {

}


.photo-grid__item {
  width: 100%;
  object-fit: cover;
  margin: 0;
  display: block;
}


.plases {
  padding: 92px 148px 92px 148px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
 }

 @media screen and (max-width: 1280px) {
   .plases {
    padding-right: calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
    padding-left:  calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .plases {
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    padding-right: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
    padding-bottom: calc(90px + (92 - 90) * (100vw - 768px) / (1024 - 768));
    padding-left:  calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .plases {

    padding-top: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320));
    padding-bottom: calc(66px + (90 - 66) * (100vw - 320px) / (768 - 320));
    padding-right: calc(0px + (24 - 0) * (100vw - 320px) / (768 - 320));
    padding-left:  calc(0px + (24 - 0) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .plases {
    padding: 64px 0px 66px 0px;
  }
}



.plases__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 80px;
}

@media screen and (max-width: 1280px) {
  .plases__container {

  }
}
@media screen and (max-width : 1024px) {
  .plases__container {
    gap: calc(73px + (80 - 73) * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width : 768px) {
  .plases__container {
    gap: calc(50px + (73 - 50) * (100vw - 320px) / (768 - 320));
  }
}
@media screen and (max-width : 320px) {
  .plases__container {
    gap: 50px;
  }
}

.plase {
  list-style-type: none;
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 40px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }


@media screen and (max-width: 1280px) {
  .plase {
  grid-template-columns: minmax(440px, 460px) minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  }
}

@media screen and (max-width: 1024px) {
  .plase {
    grid-template-columns: minmax(340px, 440px) minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .plase {
    grid-template-columns: minmax(320px, 340px) minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 28px;
  }
}

@media screen and (max-width: 650px) {
  .plase {
    grid-template-columns: minmax(272px, 602px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .plase {
    grid-template-columns: minmax(320px, min-content);
    gap: 32px;
  }
}


.plase__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 105%;
  text-align: left;
  color: #FFF;
  padding: 0;
  margin: 0;
  max-width: 460px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width : 1024px) {
.plase__title {
  font-size: calc(42px + (72 - 42) * (100vw - 768px) / (1024 - 768));
    }
  }

@media screen and (max-width : 768px) {
  .plase__title {
    font-size: 42px;
    line-height: 109%;
    padding-right: 10px;
  }
}
@media screen and (max-width : 320px) {
.plase__title {
  font-size: 32px;
  line-height: 110%;
  padding-left: 16px;
  }
}

.plase__website {
  max-width: 456px;
  font-family: Inter, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width : 320px) {
  .plase__website {
    padding-left: 16px;
  }
}

.place__url-heading {
  color: #FFF;
  margin: 0 0 12px 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 166%;
  text-align: left;
  letter-spacing: 2px;
}

@media screen and (max-width : 768px) {
  .place__url-heading {
    line-height: 100%;
  }
}

.place__link {
  margin: 0;
  color: #FFF;
  min-height: 22px;
  max-width: 456px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
}

.place__link:hover {
  opacity: 0.8;
  transition: 1s;
}


.plase__image {
  height: 100%;
  width: 100%;
  object-fit:contain;
  object-position: top;
  margin: 0;
  padding: 0;
}
 .place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
  margin: 0;
  padding: 0;
}


@media screen and (max-width : 768px) {
  .place__paragraphs {

   gap: 25px;
  }
}

@media screen and (max-width : 320px) {
  .place__paragraphs {
    padding-left: 16px;
    padding-right: 16px;
  }
}


.place__paragraph {
  color: #FFF;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 162%;
  text-align: left;
  margin: 0;
}

@media screen and (max-width : 1024px) {
  .place__paragraph {
    font-size: calc(16px + (18 - 16) * (100vw - 768px) / (1024 - 768));
  }
}

  @media screen and (max-width : 768px) {
    .place__paragraph {
      font-size: 16px;
    }
  }

  .cover {
  margin: 0;
  max-width: 1280px;
  width: 100%;
  max-height: 740px;
  padding: 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .cover {
  padding-right: calc(0px + (48 - 0) * (100vw - 1024px) / (1280 - 1024));
  padding-left:  calc(0px + (48 - 0) * (100vw - 1024px) / (1280 - 1024));
  }
}
@media screen and (max-width : 1024px) {
  .cover {
 padding: 0;
  }
}

.cover__link {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 740px;
  background-image: url("../images/cover-trains.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  }

@media screen and (max-width: 1280px) {

}
@media screen and (max-width : 1024px) {
  .cover__link {
    /*min-height: 640px;*/
    min-height:  calc(480px + (640 - 480) * (100vw - 768px) / (1024 - 768));
  }
}
@media screen and (max-width : 768px) {
  .cover__link {
    /*min-height: 480px;*/
    min-height:  calc(200px + (480 - 200) * (100vw - 320px) / (768 - 320));
  }
}
@media screen and (max-width : 320px) {
  .cover__link {
    min-height: 200px;
  }
}

.cover__link:before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease-in-out;
}

.cover__link:hover:before {
  opacity: 0.8;
}


.cover__title {
  margin: 0 0 32px 0;
  color: #FFF;
  min-height: 152px;
  max-width: 560px;
  font-family: Inter, Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 109%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width : 768px) {
  .cover__title {
   font-size: calc(32px + (72 - 32) * (100vw - 320px) / (768 - 320));
   margin-bottom: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));
   min-height: calc(70px + (152 - 70) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 320px) {
  .cover__title {
  min-height: 70px;
  max-width: 288px;
  font-size: 32px;
  margin: 0 0 16px 0;
  }
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  color: #FFF;
  min-height: 66px;
  max-width: 360px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width : 768px) {
  .cover__subtitle {
   font-size: calc(14px + (18 - 14) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 320px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 288px;
    min-height: 48px;
    line-height: 114%;
  }
}

.footer {
  max-width: 1280px;
  width: 100%;
  max-height: 398px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: #FFF;
  box-sizing: border-box;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width : 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 650px;
    display: grid;
    row-gap: 48px;
    padding-top: 64px;
  }
}

@media screen and (max-width : 320px) {
  .footer {
    max-width: 320px;
    display: grid;
    row-gap: 48px;
  }
}

.footer__menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width : 768px) {
  .footer__menu {
   gap: calc(10px + (18 - 10) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 650px) {
  .footer__menu {
    display: grid;
    row-gap: 32px;
  }
}

.footer__link {
  min-height: 18px;
  max-width: 50px;
  margin: 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 112%;
  text-align: left;
}

@media screen and (max-width : 768px) {
  .footer__link {
   font-size: calc(8px + (16 - 8) * (100vw - 320px) / (768 - 320));
  }
}
@media screen and (max-width : 650px){
  .footer__link {
    font-size: 24px;
    line-height: 100%;
  }
}

.footer__copyright {
  margin: 0;
  min-height: 16px;
  max-width: 200px;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 114%;
  text-align: right;
}

@media screen and (max-width : 768px) {
  .footer__copyright {
   font-size: calc(8px + (14 - 8) * (100vw - 320px) / (768 - 320));
  }
}
@media screen and (max-width : 650px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 100%;
    text-align: left;
  }
}




.indent {
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .indent {
    padding-left: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
    padding-right: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width : 768px) {
  .indent {
    padding-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
    padding-right: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width : 320px) {
  .indent {
    padding-left: 16px;
    padding-right: 16px;
  }
}


.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
  transition: 1s;
}

