.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  letter-spacing: 1.5px;
  min-height: 14px;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: calc(24px + (0 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}


